# Database
MONGODB_URI=mongodb://localhost:27017/phato

# AI Service
GEMINI_API_KEY=

# News Sources (Optional)
NEWS_API_KEY=
GUARDIAN_API_KEY=
NYT_API_KEY=

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:8080 # Adicionar a porta do emulador/app aqui
ALLOW_ALL_ORIGINS=true

# Server Configuration
PORT=3000
NODE_ENV=development